html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
  margin: 0;
}
#wrap{
  margin: 0;
}
#header{
  margin: 0;
  width: 1250px;
}
#titletext{
	font-family: 'Anton', sans-serif;
	font-size: 3em;
  padding: 2em;
}
#category{
  margin: 0;
  width: 1250px;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  display: table;
  padding-top: 1em;
  padding-bottom: 1em;
}
#body{
  width: 1250px;
}
header{
  border:0 ;
  height: 160px;
  color: black;
  font-size: 90px;
  padding: 50px;
  margin: 0;
}
.mainimage{
  width: 300px;
  margin: 50px;
}
.categories{
	font-family: 'Nixie One', cursive;
	font-weight: bolder;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-right: 20px;
  padding-left: 20px;
}
.categories a{
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font: 13px;
}
.namdawon{
	margin-top: 6rem;
	margin-bottom: 4rem;
}
.namdawon span{
	font-family: 'Nixie One', cursive;
	font-size: 2rem;
}
#body .thumbnails{
	display: flex;
	width: 100%;
}
#body .thumbnails div{
	flex-grow: 1;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 2rem;
	width: 33.33%;
}
#body .thumbnails img{
	width: 100%;
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	display: block;
}
#body .thumbnails div a h3{
	font-family: 'Nixie One', cursive;
	padding: 2rem 0;
	margin-bottom: 3rem;
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	background-color: black;
	color: white;
}
#body .thumbnails div a{
	display: block;
}
